<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Chatbot - Entretien</title>
</head>
<body>
    <h1>Bienvenue sur le chatbot de l'entretien !</h1>

    <!-- Ton autre contenu ici -->

    <!-- Intégration du Messenger -->
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <df-messenger
      intent="WELCOME"
      chat-title="ChatEntretien"
      agent-id="e3807af8-52a3-450d-86b1-381553c710b2"
      language-code="fr"
    ></df-messenger>
</body>
</html>
