<form method="post" action="{{ path('app_presence_delete', {'id_presence': presence.id_presence}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ presence.id_presence) }}">
    <button class="btn">Delete</button>
</form>
