{% extends 'back.html.twig' %}

{% block title %}Nouveau Budget{% endblock %}

{% block content %}
<!-- Page Header Start -->
<div class="page-header">
  <div class="page-block">
    <div class="row align-items-center">
      <div class="col-md-8">
        <div class="page-header-title">
          <h5 class="m-b-10">Ajouter un Budget</h5>
          <p class="m-b-0">Remplissez les champs ci-dessous pour créer un nouveau budget.</p>
        </div>
      </div>
      <div class="col-md-4">
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{{ path('admin_dashboard') }}"> <i class="fa fa-home"></i> </a>
          </li>
          <li class="breadcrumb-item"><a href="{{ path('app_back_budget_index') }}">Budgets</a></li>
          <li class="breadcrumb-item active">Ajout</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Page Header End -->

{{ include('budget/_form.html.twig') }}

<a href="{{ path('app_back_budget_index') }}" class="btn btn-secondary btn-sm mt-3">
  <i class="fa fa-arrow-left"></i> Retour
</a>
{% endblock %}
